* {
    font-family: 'Roboto', sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif !important;
}
body {
    padding-top: 110px;
}
.hero {
    padding-top: 0;
}